<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316765422042-cgvmv2hocmd01k6gbpkhccvads8tpnhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316765422042-cgvmv2hocmd01k6gbpkhccvads8tpnhp</string>
	<key>API_KEY</key>
	<string>AIzaSyAcNj2d2JqPYzHiU08WzGTf2VYG8Z-_5qk</string>
	<key>GCM_SENDER_ID</key>
	<string>316765422042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gastogo-pj1</string>
	<key>PROJECT_ID</key>
	<string>gastogo-pj1</string>
	<key>STORAGE_BUCKET</key>
	<string>gastogo-pj1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316765422042:ios:739a716292f53b2c9500e3</string>
	<key>DATABASE_URL</key>
	<string>https://gastogo-pj1.firebaseio.com</string>
</dict>
</plist>